body {
    background-color: #FFFFF3;
}

div {
	text-align: center;	
	margin: 10px 10px 10px 10px;
}

img {
	border-style: solid;
	margin: 5px 5px 5px 5px;
}

h1 {
	text-align: left;
    color: black;
	font-family: Courier,sans-serif;
	font-size: 36px;	
}

h2 {
	text-align: left;
    color: black;
	font-family: Courier,sans-serif;
	font-size: 30px;	
}

a:link, a:active, a:visited {
    color: black;
	text-decoration: none;
}

a:hover {
    color: LightSkyBlue;
	text-decoration: underline overline;
}

.huge {
   color: black;
   font-family: Herculanum, serif;	
   font-size: 60px;
}

.large {
	color: black;
	font-family: Herculanum, serif;	
	font-size: 48px;
}

.medium {
	color: black;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 36px;
}

.highlight{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;	
    text-align: justified;
}
.small {
	color: black;
	font-family: Courier,sans-serif;
	font-size: 22px;
}

.node {
    fill: #ccc;
    stroke: #000;
    stroke-width: 2px;
    r:40px;
}

.node:hover{
    fill: LightSkyBlue;	
    r:100px;
}

.link {
    stroke: #777;
    stroke-width: 4px;
}

#current {
	text-decoration: underline overline;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: black;
	font-family: Courier, sans-serif;	
	font-size: 36px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: LightSkyBlue;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #FFFFF3;
    display: none;
	color: black;
	font-family: Courier,sans-serif;
	font-size: 24px;
	text-align: left;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Required for two column layout, currently not being used. */
#wrapper {
  margin-left: 30%;
  text-align: center;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#content1 {
  float: right;
  width: 100%;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#content2 {
  float: left;
  width: 30%;
  margin-left: -30%;
  text-align: right;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#cleared {
  clear: both;
}

/* Horizontal slider */
.accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 50px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian * {
	margin: 0; 
	padding: 0;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 24px;
	font-family: Courier,sans-serif;
}

.image_title a:hover {
    color: LightSkyBlue;
	text-decoration: underline overline;
}

